@import "../style/variables";

.nav {
  background: $complementary2-lightest-2;
  height: 8rem;
  margin-bottom: 30px;
  .headerFlex {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
  }
}

// .menu-div {
//   width: 100%;
//   text-align: right;
//   margin: 0;
//   padding: 0 2rem 2rem 0;
//   position: absolute;
//   right: 0;
//   top: 6rem;
//   background-color: $complementary2-lightest-2;

//   .navigation-items {
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//     justify-content: end;
//     list-style: none;
//     li {
//       text-align: right;
//     }
//   }
// }

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .menu-div {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      text-decoration: none;
      color: #000000;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }

  .navigation {
    display: none;
  }
}
