@import "../style/variables";
.nav {
  background: $complementary2-lightest-2;
  height: 8rem;
  margin-bottom: 30px;
  .headerFlex {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
    .navigation {
      display: flex;
      align-items: center;
      gap: 30px;
      //   // a{
      //   //   text-decoration: none;
      //   //   color: #000000;

      //   //   &:hover{
      //   //     text-decoration: underline;
      //   //   }
      //   // }
    }
  }
}

.menu-div {
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 8rem;
  background: rgba(255, 255, 255, 0.5);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  .navigation-items {
    display: flex;
    flex-direction: column;
    justify-content: end;
    list-style: none;
    li {
      text-align: right;
    }
  }
}
