.competence-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 5px;

    .sc-digi-button-h .digi-button--variation-secondary.sc-digi-button{
        border-color: #822998;
        color: #822998;
        &:hover{
            --COLOR--BACKGROUND--HOVER: #82299871;
        }
    }
}