@import "src/style/variables";


.search-tags .sc-digi-button-h .digi-button--variation-secondary.sc-digi-button{
  --COLOR--BACKGROUND--DEFAULT: none;
  --COLOR--BACKGROUND--HOVER: : none;
  cursor: default;
  border-color: $complementary2-darker;
  color: $complementary2-darker;
  
  &:hover{
    border-color: $complementary2-darker;
    color: $complementary2-darker;
  }
}

.searchResults{
  .keyWordsHeader{
    margin-top: 30px;

  }
  
  .keyWords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 30px;
  }
}

.sc-digi-loader-spinner-h{
  display: flex;
  justify-content: center;
  align-items: center;
}





