@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";

$font-path: "/node_modules/@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/assets/fonts/" !default;
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.scss";

@import 'style/footer';
@import 'style/navigation';

body{
  padding: 0; 
  margin: 0;
}
